OIM_HOST: <HOSTNAME>
OIM_PORT: <OIG_OIM_PORT>
OIM_WLSADMIN: <OIG_WLS_ADMIN_USER>
OIM_WLSADMIN_PWD: <OIG_WLS_PWD>
WLS_TRUSTSTORE: <OIG_TRUST_STORE>
WLS_TRUSTSTORE_PASSWORD: <OIG_TRUST_PWD>
WLS_IS_SSLENABLED: <OIG_DOMAIN_SSL_ENABLED>


OIM_FRONTEND_URL: <OIG_LBR_INT_PROTOCOL>://<OIG_LBR_INT_HOST>:<OIG_LBR_INT_PORT>/
OIM_EXTERNAL_FE_URL: <OIG_LBR_PROTOCOL>://<OIG_LBR_HOST>:<OIG_LBR_PORT>/
SOA_SOAP_URL: <OIG_LBR_INT_PROTOCOL>://<OIG_LBR_INT_HOST>:<OIG_LBR_INT_PORT>/
SOA_RMI_URL: cluster:t3s://soa_cluster
UMS_WS_URL: <OIG_LBR_INT_PROTOCOL>://<OIG_LBR_INT_HOST>:<OIG_LBR_INT_PORT>/ucs/messaging/webservice/
