OIM_WLSHOST: <OIG_ADMIN_HOST>
OIM_WLSPORT: <OIG_ADMIN_PORT>
OIM_WLSADMIN: <OIG_WLS_ADMIN_USER>
OIM_WLSADMIN_PWD: <OIG_WLS_PWD>
OIM_IDSTORE_ROLE_SECURITY_ADMIN: <LDAP_WLSADMIN_GRP>
WLS_IS_SSLENABLED: <OIG_DOMAIN_SSL_ENABLED>
WLS_TRUSTSTORE: <OIG_TRUST_STORE>
WLS_TRUSTSTORE_PASSWORD: <OIG_TRUST_PWD>
WLS_SSL_HOST_VERIFICATION: true
IDSTORE_DIRECTORYTYPE: <DIR_TYPE>
IDSTORE_HOST: <LDAP_HOST>
IDSTORE_PORT: <LDAP_PORT>
IDSTORE_SSL_ENABLED: <LDAP_SECURE>
IDSTORE_KEYSTORE_FILE: <LDAP_TRUST_STORE>
IDSTORE_KEYSTORE_PASSWORD: <LDAP_TRUST_PWD>
IDSTORE_BINDDN: cn=<LDAP_OIGLDAP_USER>,<LDAP_SYSTEMIDS>
IDSTORE_BINDDN_PWD: <LDAP_USER_PWD>
IDSTORE_USERSEARCHBASE: <LDAP_USER_SEARCHBASE>
IDSTORE_GROUPSEARCHBASE: <LDAP_GROUP_SEARCHBASE>


