OAM_HOST: <OAM_LOGIN_LBR_HOST>
OAM_PORT: <OAM_LOGIN_LBR_PORT>
OAM_SSL_FLAG: <OAM_DOMAIN_SSL_ENABLED>
ACCESS_SERVER_HOST: <OAM_HOST>
ACCESS_SERVER_PORT: 5575
WEBGATE_PWD: <LDAP_USER_PWD>
COOKIE_DOMAIN: <EMAIL_DOMAIN>
OAM_TRANSFER_MODE: open
OIM_LOGINATTRIBUTE: uid
SSO_INTEGRATION_MODE: CQR
SSO_ENABLED_FLAG: true
OAM_WLS_ADMIN_HOST: <OAM_ADMIN_HOST>
OAM_WLS_ADMIN_PORT: <OAM_ADMIN_PORT>
OAM_WLSPORT: <OAM_ADMIN_WLS_PORT>

OAM_WLS_ADMIN_USER: <OAM_WLS_ADMIN_USER>
OAM_WLS_ADMIN_PASSWD: <OAM_WLS_PWD>
OAM_WLS_IS_SSLENABLED: <OAM_DOMAIN_SSL_ENABLED>
OAM_IDSTORE_NAME: OAMIDSTORE
OIM_WLSHOST: <OIG_ADMIN_HOST>
OIM_WLS_IS_SSLENABLED: <OIG_DOMAIN_SSL_ENABLED>
OIM_WLSPORT: <OIG_ADMIN_PORT>
OIM_WLSADMIN: <OIG_WLS_ADMIN_USER>
OIM_WLSADMIN_PWD:<OIG_WLS_PWD>
IDSTORE_OAMADMINUSER_PWD: <LDAP_USER_PWD>
OIM_SERVER_NAME: oim_server1
IDSTORE_OAMADMINUSER: <LDAP_OAMADMIN_USER>
OIM_TRUST_LOC:<OIG_TRUST_STORE>
OIM_TRUST_PWD:<OIG_TRUST_PWD>
OIM_TRUST_TYPE:PKCS12
OIM_WLS_SSL_IGNORE_HOST_VERIFICATION: true

#OIM_FRONTEND_URL: <OIG_LBR_INT_PROTOCOL>://<OIG_LBR_INT_HOST>:<OIG_LBR_INT_PORT>/
#OIM_EXTERNAL_FE_URL: <OIG_LBR_PROTOCOL>://<OIG_LBR_HOST>:<OIG_LBR_PORT>/
#SOA_SOAP_URL: <OIG_LBR_INT_PROTOCOL>://<OIG_LBR_INT_HOST>:<OIG_LBR_INT_PORT>
#SOA_RMI_URL: cluster:t3s://soa_cluster
#UMS_WS_URL: <OIG_LBR_INT_PROTOCOL>://<OIG_LBR_INT_HOST>:<OIG_LBR_INT_PORT>/ucs/messaging/webservice/
