##-----------------------------------------------------------##
## [configureLDAPConnector]
IDSTORE_DIRECTORYTYPE: <DIR_TYPE>
IDSTORE_HOST: <LDAP_HOST>
IDSTORE_PORT: <LDAP_PORT>
IDSTORE_BINDDN: <LDAP_ADMIN_USER>
IDSTORE_BINDDN_PWD: <LDAP_ADMIN_PWD>
IDSTORE_SSL_ENABLED: <LDAP_SECURE>
IDSTORE_KEYSTORE_FILE: <LDAP_TRUST_STORE>
IDSTORE_KEYSTORE_PASSWORD: <LDAP_TRUST_PWD>
IDSTORE_OIMADMINUSERDN: cn=<LDAP_OIGLDAP_USER>,<LDAP_SYSTEMIDS>
IDSTORE_OIMADMINUSER_PWD: <LDAP_USER_PWD>
IDSTORE_SEARCHBASE: <LDAP_SEARCHBASE>
IDSTORE_USERSEARCHBASE: <LDAP_USER_SEARCHBASE>
IDSTORE_GROUPSEARCHBASE: <LDAP_GROUP_SEARCHBASE>
IDSTORE_USERSEARCHBASE_DESCRIPTION: Default user container
IDSTORE_GROUPSEARCHBASE_DESCRIPTION: Default group container
IDSTORE_EMAIL_DOMAIN: <EMAIL_DOMAIN>
OIM_HOST: <HOSTNAME>
OIM_PORT: <OIG_OIM_NOT_ADMIN_PORT>
WLS_OIM_SYSADMIN_USER: <LDAP_XELSYSADM_USER>
WLS_OIM_SYSADMIN_USER_PWD: <LDAP_USER_PWD>
OIM_WLSHOST: <OIG_ADMIN_HOST>
OIM_WLSPORT: <OIG_ADMIN_PORT>
WLS_IS_SSLENABLED: <OIG_DOMAIN_SSL_ENABLED>
WLS_TRUSTSTORE: <OIG_TRUST_STORE>
WLS_TRUSTSTORE_PASSWORD: <OIG_TRUST_PWD>
OIM_WLSADMIN: <OIG_WLS_ADMIN_USER>
OIM_WLSADMIN_PWD: <OIG_WLS_PWD>
OIM_SERVER_NAME: oim_server1
CONNECTOR_MEDIA_PATH: <OIG_ORACLE_HOME>/idm/server/ConnectorDefaultDirectory/OID-12.2.1.3.0

IS_LDAP_SECURE: <LDAP_SECURE>
LOG_FILE: <WORKDIR>/logs/configure_ldap.log


SSO_TARGET_APPINSTANCE_NAME: SSOTarget
