OIM_WLSHOST: <OIG_ADMIN_HOST>
OIM_WLSPORT: <OIG_ADMIN_PORT>
WLS_IS_SSLENABLED: true
WLS_TRUSTSTORE: <OIG_TRUST_STORE>
WLS_TRUSTSTORE_PASSWORD: <OIG_TRUST_PWD>
WLS_SSL_HOST_VERIFICATION: true
OIM_WLSADMIN: <OIG_WLS_ADMIN_USER>
OIM_WLSADMIN_PWD: <OIG_WLS_PWD>
IDSTORE_DIRECTORYTYPE: <DIR_TYPE>
IDSTORE_HOST: <LDAP_HOST>
IDSTORE_PORT: <LDAP_PORT>
IDSTORE_KEYSTORE_FILE: <LDAP_TRUST_STORE>
IDSTORE_KEYSTORE_PASSWORD: <LDAP_TRUST_PWD>
IDSTORE_SSL_ENABLED: <LDAP_SECURE>
#IS_LDAP_SECURE: true
IDSTORE_BINDDN: <LDAP_ADMIN_USER>
IDSTORE_BINDDN_PWD: <LDAP_ADMIN_PWD>
IDSTORE_USERSEARCHBASE: <LDAP_GROUP_SEARCHBASE>
IDSTORE_GROUPSEARCHBASE: <LDAP_GROUP_SEARCHBASE>
IDSTORE_SYSTEMIDBASE: <LDAP_SYSTEMIDS>
IDSTORE_OAMADMINUSER: <LDAP_OAMADMIN_USER>
IDSTORE_OAMSOFTWAREUSER: <LDAP_OAMADMIN_USER>
IDSTORE_PWD_OAMSOFTWAREUSER: <LDAP_USER_PWD>
IDSTORE_PWD_OAMADMINUSER: <LDAP_USER_PWD>
OIM_SERVER_NAME: oim_server1
